.backdrop {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background-color: #7988a37a;
  justify-content: center;
  align-items: center;
}
.backdrop-black {
  background-color: #7988a37a;
}
.backdrop-black-noalpha {
  background-color: #7988a3;
}
